---
import ContentSlot from "@/components/layout/content-slot.astro";
import Layout from "@/components/layout/layout.astro";
import SiteStatus from "@/components/layout/site-status.astro";
import Gradient from "@/components/shared/gradient.astro";
import SkipLink from "@/components/shared/skip-link.astro";
import ReloadPrompt from "@/components/widgets/reload-prompt.astro";
import HeadMeta from "@/layouts/meta.astro";

import ThemeManager from "@/components/widgets/theme-provider.astro";
import { getSiteSettings } from "@/config/settings";

type Props = {
  meta: Meta;
  className?: string;
};

const settings = getSiteSettings();

const {
  meta: {
    title,
    image,
    keywords,
    type = "website",
    canonical,
    description,
    publishedAt,
    updatedAt,
    includeOg,
    robots = {},
    language = settings.language,
  },
} = Astro.props;
---

<!doctype html>
<html
  lang={language}
  dir="ltr"
  data-syntax-theme="github-light-default"
  data-theme="light"
  class:list={[
    "scheme-light data-[theme=auto]:scheme-light-dark dark:scheme-dark",
    "antialiased motion-safe:scroll-smooth",
  ]}
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <meta name="color-scheme" content="dark light" />
    <HeadMeta
      title={title}
      description={description}
      image={image}
      og={{ type }}
      keywords={keywords}
      robots={robots}
      publishedAt={publishedAt}
      updatedAt={updatedAt}
      canonical={canonical}
      includeOg={includeOg}
    />
    <slot name="meta" />
    <ThemeManager />
  </head>
  <body class="relative min-h-svh bg-white font-sans text-base font-normal">
    <ContentSlot>
      <Fragment slot="site-status-down">
        <SiteStatus />
      </Fragment>
      <Fragment slot="site-status-live">
        <SkipLink />
        <Gradient position="top" />
        <Layout>
          <slot />
        </Layout>
        <Gradient position="bottom" />
        <ReloadPrompt />
      </Fragment>
    </ContentSlot>
  </body>
</html>
